/** RESET VALEUR **/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/** ---------------------------------------------- **/
/** DECLARER VARIABLE FONT - IMPORTER FONT **/
@font-face {
    font-family:"NOM FONT";
    src: url("");
}
/** ------------------------------------------------
                    HEADER
--------------------------------------------------**/








/** ------------------------------------------------
                    MAIN
--------------------------------------------------**/








/** ------------------------------------------------
                    FOOTER
--------------------------------------------------**/